<header>
    <!-- <div class="content-wrap"> -->
        <h1>{{title}} </h1>
    <!-- </div> -->
</header>

<!-- <section class="ac-category"> -->
<section>
<router-outlet></router-outlet>
</section>

<!-- CONTACT INFO -->
<footer class="ac-contact">
    <!-- <div class="content-wrap"> -->
        <h1>Let's keep in touch!</h1>

        <div class="ac-social">
            <a href="https://ca.linkedin.com/in/golnaz-irannejad" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/golnazir" title="Github"><i class="fa fa-github-alt"></i></a>
        </div>

        <p><a href="mailto:golnazirannejad@gmail.com">golnazirannejad@gmail.com</a></p>
        <p>Saanichton, BC</p>

        <p class="copyright">Copyright &#169; 2019 by Golnaz Irannejad</p>
    <!-- </div> -->
</footer>