/* .recipe{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
} */

.recipe-title{
    font-size: 25px;
    color:darkslategray;
    text-decoration: underline;
}

.recipe-title:hover{
    color:blue;
}